DB_HOST=postgres # Host padrão do docker postgres
DB_PORT=5432 # Porta padrão do docker postgres
DB_USERNAME=admin
DB_PASSWORD=admin
DB_DATABASE=hero_force
NODE_ENV=development # development | production 

JWT_SECRET= # Adicione uma chave aleatoria aqui!
